.fade {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s ease-in-out;
  }
}

.move {
  &-move,
  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }
  &-move {
    position: absolute;
  }
}

.bubble {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(20px) scale(0.99);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.slide-right {
  &-enter-to,
  &-leave-from {
    transform: translateX(0);
  }

  &-enter-from,
  &-leave-to {
    transform: translateX(100%);
  }

  &-enter-active,
  &-leave-active {
    transition: transform 0.5s ease-in-out;
  }
}

.page-slide-fade {
  &-enter-from,
  &-leave-to {
    transform: translateX(30px);
    opacity: 0;
  }

  &-enter-active {
    transition: all 0.5s ease;
  }

  &-leave-active {
    transition: all 0.1s ease;
  }
}
